name: Deploy
on:
  push:
    branches: [ master ]

jobs:
  deploy:
    name: Deploy to production
    runs-on: ubuntu-latest
    steps:
      - name: Install Go
        uses: actions/setup-go@v2
        with:
          go-version: 1.16.x

      - name: Install NodeJS
        uses: actions/setup-node@v2
        with:
          node-version: '12'

      - name: Install Yarn
        run: npm install -g yarn

      - name: Checkout code
        uses: actions/checkout@v2

      - name: Build frontend
        run: cd frontend && yarn install && yarn build

      - name: Get current date
        id: date
        run: echo "::set-output name=date::$(date -u '+%Y-%m-%d %I:%M:%S %Z')"

      - name: Build binary
        run: |
          CGO_ENABLED=0 go build -v -ldflags " -X \"main.BuildTime=${{ steps.date.outputs.date }}\" -X \"main.BuildCommit=$GITHUB_SHA\"" -trimpath

      - name: Upload binary to server
        uses: appleboy/scp-action@master
        with:
          host: ${{ secrets.PRODUCTION_HOST }}
          username: ${{ secrets.PRODUCTION_USER }}
          password: ${{ secrets.PRODUCTION_PASSWORD }}
          port: ${{ secrets.PRODUCTION_PORT }}
          source: "asoul-video"
          target: "/etc/asoul-video"

      - name: Restart service
        uses: appleboy/ssh-action@master
        with:
          host: ${{ secrets.PRODUCTION_HOST }}
          username: ${{ secrets.PRODUCTION_USER }}
          password: ${{ secrets.PRODUCTION_PASSWORD }}
          port: ${{ secrets.PRODUCTION_PORT }}
          script: |
            sudo chmod +x /etc/asoul-video/asoul-video
            sudo service asoulvideo restart

      - name: Send notification to Discrod
        env:
          DISCORD_WEBHOOK: ${{ secrets.DISCORD_WEBHOOK }}
        uses: Ilshidur/action-discord@master
        with:
          args: 'The asoul-video backend has been deployed. https://github.com/asoul-video/asoul-video/commit/$GITHUB_SHA'
